#include <dt-bindings/pwm/pwm.h>

/ {
	pwm_test {
		compatible = "pwm-leds";
		pwm_test_output: pwm_test_output {
			pwms = <&pwm1 0 PWM_USEC(1000) PWM_POLARITY_NORMAL>;
		};
	};

	aliases {
		pwm-test = &pwm_test_output;
	};
};

&pinctrl {
	pwm1_test_default: pwm1_test_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 12)>;
		};
	};
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_test_default>;
	pinctrl-names = "default";
};
